In [ ]:
# metadata

In [5]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [12]:
samples<-read.csv('mbl_nutrient_list.csv')
head(samples)

  Date   country site transect. depth.m. meter. syringe. nutrient_sample_.
1 1/8/24 BEL     BB   5         1.6      10     15       N018
2 1/8/24 BEL     BB   5         1.6      10              N017
3 1/8/24 BEL     BB   5         1.6      20     14       N015
4 1/8/24 BEL     BB   5         1.6      20              N016
5 1/8/24 BEL     BB   5         1.6      30     1        N008
6 1/8/24 BEL     BB   5         1.6      30              N014
  time_sampled time_processed nutrient vol_filtered..mL. notes          nitrate
1 16:21        18:30                   60                labelled as T1 5_19
2 16:21        18:30          CHLA     180               labelled as T1
3 16:27        18:30                   60                labelled as T1 5_19
4 16:27        18:30          CHLA     180               labelled as T1
5 16:31        18:30                   60                labelled as T1 5_19
6 16:31        18:30          CHLA     120               labelled as T1
  X Pack_for_MBL
1 x x
2   x
3 x x
4   x
5 x x
6   x

In [16]:
samples<-samples %>%
    mutate(Date = as.Date(Date,  format = "%m/%d/%y")) %>%
    mutate(monthyear = format(Date, "%b %Y")) %>%
    select(-c(X,Pack_for_MBL))

In [17]:
unique(samples$monthyear)

[1] "Jan 2024" "Apr 2024" "Jun 2024" "Aug 2024" "May 2025" "Jun 2025"

In [22]:
# may and june 2025 are the same trip so change label 
samples[samples$monthyear=='May 2025',"monthyear"]<-"Jun 2025"

In [23]:
unique(samples$monthyear)

[1] "Jan 2024" "Apr 2024" "Jun 2024" "Aug 2024" "Jun 2025"

In [24]:
colnames(samples)

 [1] "Date"              "country"           "site"
 [4] "transect."         "depth.m."          "meter."
 [7] "syringe."          "nutrient_sample_." "time_sampled"
[10] "time_processed"    "nutrient"          "vol_filtered..mL."
[13] "notes"             "nitrate"           "monthyear"

In [25]:
gsub(colnames(samples),'.','')

Warning message in gsub(colnames(samples), ".", ""):
“argument 'pattern' has length > 1 and only the first element will be used”

[1] ""

In [27]:
colnames(samples) <- gsub("\\.", "", colnames(samples))

In [28]:
# export like this for now 
write.csv(samples, 'samples_kinda_filtered.csv')